@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
*{
    margin:0;
    padding: 0;
}
.contenedor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #df9b9b75;
}

#titulo{
    position: relative;
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
.info_libros{
    position: relative;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .container{
    display: block;
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
} */
